<h2>By Capital</h2>
<hr />
<div class="row">
    <div class="col">
        <!--shared box search -->
        <shared-search-box
            (onDebounce)="searchByCapital($event)"
            [initialValue]="initialValue"
            placeholder="Search Capital.."
        ></shared-search-box>
    </div>
</div>
<div class="row">
    <div class="col">
        <!-- CountryTable -->
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>
